*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.container {
    height: 100vh;
    width: 100vw;
    background-image: url("../Project-1/bg.jpg");
    background-size: cover;
    display:flex;
    justify-content:center;
    
 }

 .topelement {
    height: 100px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
 }

 .headertext{
     color: white;

 }

 .undertop{
    height: 50px;
    width: 75%;
    background-color: black;
    opacity: 0.6;
    color: white;
    display: flex;
    position: absolute;
    top: 100px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1em;

    
}
.uelement1{
width:  100px;
height: 30px;

}
.uelement2{
    width: 100px;
    height: 30px;
   
    }
    .uelement3{
        width: 100px;
        height: 30px;
     
        }
        .uelement4{
            width: 100px;
            height: 30px;
        
            }   
            .uelement5{
                width: 100px;
                height: 30px;
             
                }
.uelement1:hover{
    color: white;
    background-image: url(../Project-1/menu_hover.png);
    
}
.uelement2:hover{
    color: white;
    background-image: url(../Project-1/menu_hover.png); 
}
.uelement3:hover{
    color: white;
    background-image: url(../Project-1/menu_hover.png); 
}
.uelement4:hover{
    color: white;
    background-image: url(../Project-1/menu_hover.png); 
}
.uelement5:hover{
    color: white;
    background-image: url(../Project-1/menu_hover.png); 
}
a{
    color: white;
    display: block;
    text-decoration: none;
}