* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Oswald';
    src: url(./Oswald-Regular.ttf);
}

.text-center {
    text-align: center;
    font-family: "Oswald"
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url("./bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.three-element-container {
    width: 60%;
}

.top-element {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-text {
    color: white;
}

.menu {
    height: 50px;
    background-color: black;
    opacity: 0.6;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1em;
}

.u-element1 {
    width: 100px;
    height: 30px;
}

.u-element2 {
    width: 100px;
    height: 30px;
}

.u-element3 {
    width: 100px;
    height: 30px;
}

.u-element4 {
    width: 100px;
    height: 30px;
}

.u-element5 {
    width: 100px;
    height: 30px;
}

.u-element1:hover {
    color: white;
    background-image: url(menu_hover.png);
}

.u-element2:hover {
    color: white;
    background-image: url(menu_hover.png);
}

.u-element3:hover {
    color: white;
    background-image: url(menu_hover.png);
}

.u-element4:hover {
    color: white;
    background-image: url(menu_hover.png);
}

.u-element5:hover {
    color: white;
    background-image: url(menu_hover.png);
}

a {
    color: white;
    display: block;
    text-decoration: none;
}

.container-for-box{
    height: 400px;
    background-color: #2d2c2c;
    padding: 15px;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-box{
    height: 350px;
    width: 80%;
    background-color: rgb(182, 240, 255);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}   

.reg-head{
    color:blue;
    padding: 5px;
}

.reg-body{
    padding: 15px;
}

.input-long{
    margin: 10px;
    margin-left: 20px;
}
.theinput{
    margin: 10px;
}

input::placeholder {
    color:grey;
    text-align: center;
}

p{
    text-align: center;
    font-weight: bold;
    
}

input{
    border-radius: 5px 5px 5px;
}

.button{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    background-image: url(./menu_hover.png);
    width: 100px;
    height: 30px;
}   