* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-for-line {
    width: 550px;
    height: 250px;
    background-color: rgb(255, 193, 193);
    position: relative;
}

.core {
    height: 215px;
    width: 145px;
    position: absolute;
    top: 10px;
    border: 3px solid black;
}

.four {
    left: 50px;
    z-index: 1;
}

.ace-hearts {
    left: 125px;
    z-index: 2;
}

.ace-spades {
    left: 200px;
    z-index: 3;
}

.seven {
    left: 275px;
    z-index: 4;
}

.ten {
    left: 350px;
    z-index: 5;
}

.bottom-container {
    width: 500px;
    height: 385px;
    background-color: rgb(255, 193, 193);
    position: relative;
    top: 50px;
}

.four-bot {
    left: 50px;
    z-index: 1;
}

.ace-hearts-bot {
    left: 90px;
    z-index: 2;
    top: 50px;
}

.ace-spades-bot {
    left: 140px;
    z-index: 3;
    top: 90px;
}

.seven-bot {
    left: 190px;
    z-index: 4;
    top: 130px;
}

.ten-bot {
    left: 240px;
    z-index: 5;
    top: 170px;
}